<!doctype html>
<html>
    <head>
        <h1>Hello test</h1> 
    </head>
    <body>
        <div class="container">
            <div class="row">
                {% for joint in joints %}
                <p>------------------------------------------------</p  >
                <div class="col-sm">
                    <div class="piece" style="width: 18rem">
                        <div class="piece-body">
                            <h5 class="piece-title"> {{joint.name}} </h5>
                            <p class="piece-text"> degree: {{joint.degree}} </p>
                            <form method="POST" action="{% url 'change_joint' joint.id %}">
                                {% csrf_token %}
                        
                                <input type="number" name="new_angle" value="{{ joint.degree }}">
                        
                                <button type="submit"> Change </button>
                            </form>
                        </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>