<!doctype html>
<html>
    <head>
        <h1>Hello test</h1> 
    </head>
    <body>
        <div class="container">
            <div class="row">
                {% for joint in joints %}
                <p>------------------------------------------------</p  >
                <div class="col-sm">
                    <div class="piece" style="width: 18rem">
                        <div class="piece-body">
                            <h5 class="piece-title"> {{joint.name}} </h5>
                            <p class="piece-text"> degree: {{joint.degree}} </p>
                            <a href="#" class="btn btn-primary "> update </a>
                        </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>