<html>
    <head>
        <h1>Hello test</h1> 
    </head>
    <body>
        <h4> Update Base (number between 0-360) </h4>
        <input type="text" name="base">
        <button type="button"> Enter </button>
        <br>

        <h4> Update Shoulder (number between 0-360) </h4>
        <input type="text" name="shoulder">
        <button type="button"> Enter </button>
        <br>
        
        <h4> Update Elbow (number between 0-360) </h4>
        <input type="text" name="elbow">
        <button type="button"> Enter </button>
        <br>
        
        <h4> Update Wrist (number between 0-360) </h4>
        <input type="text" name="wrist">
        <button type="button"> Enter </button>
        <br>
        
        <h4> Update Gripper (number between 0-75) </h4>
        <input type="text" name="gripper">
        <button type="button"> Enter </button>
        <br>
    </body>
</html>